.reviewImages {
  display: flex;
  flex-direction: row;
  /* border: 1px solid black; */
  height: 5em;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  overflow-x: auto;
}

.reviewImage {
  margin-right: 1rem;
  display: flex;
  position: relative;
  padding: 6px;
}

.reviewImage svg {
  position: absolute;
  right: 5%;
  top: 5%;
}

.reviewImage img {
  border-radius: 2px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
