.reviewImages {
  display: flex;
  flex-direction: row;
  /* border: 1px solid black; */
  height: 5em;
  margin-top: 1em;
  margin-right: 1em;
}

.reviewImages img {
  margin-right: 1em;
  border-radius: 1em;
}
