.container {
  display: flex;
  flex-direction: row;
  height: 1em;
  /* margin-bottom: 0.5rem; */
  padding: 0.5rem 0.5rem;
  margin-left: -0.5rem;
  cursor: pointer;
}

.rating {
  /* text-decoration: underline; */
}

.rating:hover {
  color: var(--secondary);
}

.bar {
  display: flex;
  flex-direction: row;
  flex: 8;
}

.shaded {
  background-color: var(--secondary);
}

.unshaded {
  background-color: var(--light);
}

.selected {
  background-color: #ebebeb;
  font-weight: 600;
}
