.container {
  /* font-size: 0.8em; */
  display: flex;
  flex-direction: column;

  /* Placeholder CSS for illustrative layout only */
  padding: 1em;
  /* justify-content: center;
  align-items: center; */
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
