.container {
  display: flex;
  flex-direction: column;
  /* Placeholder CSS for illustrative layout only */
  /* border: 3px solid black;
  color: black; */
  font-weight: bold;
  justify-content: flex-start;
  align-items: flex-start;
}

.row {
  display: flex;
  flex-direction: row;
}