.container {
  display: flex;
  flex-direction: column;
  /* Placeholder CSS for illustrative layout only */
  border: 3px solid black;
  color: black;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.img{
  /* height: 40vh; */
  width: 100%;
  /* size: 20vh; */
}