.container {
  display: flex;
  flex-direction: row;
  /* Placeholder CSS for illustrative layout only */
  /* border: 3px solid black; */
  color: black;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

.img {
  /* height: 40vh; */
  /* width: 100%; */
  /* size: 20vh; */
}

.col {
  display: flex;
  flex-direction: column;
}

.thumbnails {
  height: 25px;
  width: auto;
}

.mainImg {
  height: auto;
  width: 60%;
}

.arrow {
  border: solid var(--primary);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.rightarrow {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.leftarrow {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.leftside {
  position: relative;
  top: 50%;
}

.rightside {
  position: relative;
  top: 50%;
  left: 65%;
}