.container {
  display: flex;
  flex-direction: row;
  height: 1em;
  margin-bottom: 1em;
}

.slider {
  display: flex;
  flex-direction: row;
  flex: 8;
}

.shaded {
  background-color: green;
}

.unshaded {
  background-color: rgba(35, 35, 35, 0.25);
}
