.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

.labels {
  display: flex;
  flex-direction: row;
}

.label {
  flex: 1;
}

.label:nth-child(1) {
  text-align: left;
}
.label:nth-child(2) {
  text-align: center;
}
.label:nth-child(3) {
  text-align: right;
}

.thirds {
  display: flex;
  flex-direction: row;
  height: 0.5em;
  line-height: 1em;
  justify-content: space-between;
  position: relative;
}

.third {
  background-color: var(--light);
  width: 33%;
}

.arrow {
  position: absolute;
  align-self: center;
  color: var(--secondary);
}
