.container {
  display: flex;

  /* Placeholder CSS for illustrative layout only */
  color: black;
  justify-content: center;
  align-items: center;
}

.left {
 width: 60%;
}

.description {
  font-size: 10px;
}

.verticalline {
  border-left: 2px solid var(--primary);
  min-height: 50px;
  height: 100%;
  position: relative;
  margin: 3%;
  top: 0;
}

.vsc {
  color: var(--success)
}
.features {

}

.feature {

}

.value {

}