.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  color: #6e7076;
  font-weight: bold;
  justify-content: center;
  align-items: left;
}

.category {
  color: var(--text);
}

.title {
  color: var(--primary);
}

.price {
  color: var(--text);
}
