.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  /* Placeholder CSS for illustrative layout only */
  border: 3px solid black;
  color: #6e7076;
  font-weight: bold;
  justify-content: center;
  align-items: left;
}

.category {

}

.title {

}

.price {

}