.container {
  display: flex;
  flex-direction: column;
  /* Placeholder CSS for illustrative layout only */
  /* border: 3px solid black;
  color: black; */
  font-weight: bold;
  justify-content: space-evenly;
  align-items: flex-start;
}

.title {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* Placeholder CSS for illustrative layout only */
  color: var(--text);
  font-weight: bold;
  justify-content: space-evenly;
  /* align-items: flex-start; */
}